<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<style type="text/css">
  .logo{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size:32px;
    line-height: 1em;
    /*text-shadow: 1px 1px 0px white,2px 2px 0px black;    */
  }

  .navbar-default .navbar-brand{
    color:#337ab7;
  }
</style>




  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-menu"></i> Menu
        </button>
        <a class="navbar-brand logo" href="/">UP now?</a>
      </div>
      <!-- end logo-->

      <!-- login/logut links -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          
            <% if (req.session.me) {%>
            <li>
              <a href=""><%= req.session.me.name %></a>
            </li>
            <li>
              <a href="/logout">Log out</a>
            </li>
            <% } else { %>
            <li>
              <a href="/login">Log in</a>
            </li>
            <li>
              <a href="/sigunup">Signup</a>
            </li>
            <% }%>
          
        </ul>
      </div>
      <!-- end login/logut links -->

    </div>
  </nav>


<div ng-controller="HomeCtrl">
  <!-- page head -->
  <div class="jumbotron" style="padding:125px 0;background-color: #45B3B8;background-image: url('/images/bg.png');color: white;background-color:#4CAF50;">
    <div class="container-fluid text-center">
      <h1>Is your site <strong>up now</strong>?</h1>
      <p>Real time monitoring for websites.<br/>Input your website address and see the status of your website</p>
      <div class="row">
        <form name="form" ng-submit="vm.check()">
          <div class="input-group-lg col-md-4 col-md-offset-4" style="display:table;" >
              <input type="url" style="display: table-cell;border-bottom-right-radius: 0;border-top-right-radius: 0;" class="form-control" placeholder="http://yourwebsite.com" ng-model="vm.site">
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Check!</button>
              </span>
            
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end page head -->

  <!-- page content -->

  <div class="container">
    <div class="row padding" ng-if="sites.length > 0">
      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table table-condensed" >
            <thead> 
              <tr> 
                <th>#</th> 
                <th>URL</th>
                <th>Response time</th>
                <th>Status</th>
              </tr> 
            </thead>
            <tbody>
              <tr ng-repeat="s in sites">
                <td>{{$index+1}}</td>
                <td>{{s.url}}</td>
                <td>{{s.responseTime}}ms</td>
                <td><span ng-class="{'label-success':s.statusCode==200, 'label-danger':s.statusCode!=200}" class="label">{{s.statusCode}} {{s.statusMessage}}</span></td>
              </tr>
            </tbody>
          </table>
          <a href="/signup" class="btn btn-success pull-right">Start monitoring</a>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-md-4">
        <h1>Real time monitoring</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4">
        <h1>Email and mobile alerts</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4">
        <h1>Easy to use and free</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div> 
    </div>
  </div>
  <!-- end page content-->
</div>