<!-- Default home page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<style type="text/css">
  .logo{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size:32px;
    line-height: 1em;
    text-shadow: 1px 1px 0px white,2px 2px 0px black;    
  }

  .navbar-default .navbar-brand{
    color:#337ab7;
  }
</style>




  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-menu"></i> Menu
        </button>
        <a class="navbar-brand logo" href="/">up now?</a>
      </div>
      <!-- end logo-->

      <!-- login/logut links -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          
            <% if (req.session.me) {%>
            <li>
              <a href="/logout">Log out</a>
            </li>
            <% } else { %>
            <li>
              <a href="/login">Log in</a>
            </li>
            <li>
              <a href="/sigunup">Signup</a>
            </li>
            <% }%>
          
        </ul>
      </div>
      <!-- end login/logut links -->

    </div>
  </nav>



  <!-- page head -->
<div class="jumbotron" style="background-color: #45B3B8;background-image: url('/images/bg.png');color: white;">
  <div class="container-fluid text-center">
  <h1>Is your site <strong>up now</strong>?</h1>
  <p>Real time monitoring for websites</p>
  <div class="row">
    <div class="input-group-lg col-md-4 col-md-offset-4" style="display:table;">
      <input type="text" style="display: table-cell;border-bottom-right-radius: 0;border-top-right-radius: 0;" class="form-control" placeholder="http://yourwebsite.com">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Check!</button>
      </span>
    </div>
  </div>
  
</div>

  <!-- end page head -->