<div class="jumbotron" ng-controller="SiteCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<h2>Sites</h2>
				<div class="table-responsive">
				<table class="table table-condensed" >
					<thead> 
					<tr> 
					<th>#</th> 
					<th>URL</th>
					<th>Response time</th>
					<th>Status</th>
					</tr> 
					</thead>
					<tbody>
						
							<tr ng-repeat="site in vm.sites">
							<td>{{$index+1}}</td>
							<td><a href="/site#/{{site.id}}">{{site.url}}</a></td>
							<td><button class="btn btn-link" ng-click="vm.deleteSite(site)">delete</button></td>
							<td><!-- <span ng-class="{'label-success':s.statusCode==200, 'label-danger':s.statusCode!=200}" class="label">{{s.statusCode}} {{s.statusMessage}}</span> --></td>
							</tr>
						
					</tbody>
				</table>
				</div>
			</div>
		</div>	
		<div class="row" >
	 		<form name="form" ng-submit="vm.add()">
	          <div class="input-group-lg col-md-4 col-md-offset-4" style="display:table;" >
	              <input type="url" style="display: table-cell;border-bottom-right-radius: 0;border-top-right-radius: 0;" class="form-control" placeholder="http://yourwebsite.com" ng-model="vm.site.url">
	              <span class="input-group-btn">
	                <button class="btn btn-info" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Add Site</button>
	              </span>
	            
	          </div>
	        </form>			
		</div>	
	</div>
</div>