<div ng-controller="SiteCtrl" class="container-fluid padding">

	
		<div class="row" ng-hide="vm.sites && vm.sites.length>0">
			<div class="col-md-12">
				<h2 class="text-muted text-center">No sites yet. Start adding sites to monitor uptime</h2>
			</div>
		</div>
		<div class="row">
	 		<form name="form" ng-submit="vm.add()">
	          <div class="input-group-lg col-md-4 col-md-offset-4" style="display:table;" >
	              <input type="url" style="display: table-cell;border-bottom-right-radius: 0;border-top-right-radius: 0;" class="form-control" placeholder="http://yourwebsite.com" ng-model="vm.site.url">
	              <span class="input-group-btn">
	                <button class="btn btn-info" type="submit" ng-disabled="form.$invalid || vm.dataLoading">Add Site <span class="glyphicon glyphicon-cog spinning" ng-if="vm.dataLoading"></span></button>
	              </span>
	            
	          </div>
	        </form>			
		</div>
	

	
	


		<div class="row" ng-if="vm.sites && vm.sites.length>0">
			<div class="col-md-12">

				<h2>Sites</h2>
				<div class="table-responsive">
				<table class="table table-condensed" >
					<thead> 
					<tr> 

					<th>URL</th>
					
					<th>Status</th>
					<th>Avg. response time</th>
					</tr> 
					</thead>
					<tbody>
						
							<tr ng-repeat="site in vm.sites">
							
							<td>
								<a class="lead" href="/site#/{{site.id}}">{{site.url}}</a><button class="btn btn-link" ng-click="vm.deleteSite(site)"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span></button>								
								<p class="text-muted">Last check: {{site.lastCheck | date :'medium'}}</p>
							</td>
							
							<td><span ng-class="{'label-success':site.lastStatusCode==200, 'label-danger':site.lastStatusCode!=200}" class="label">{{site.lastStatusCode}} {{site.lastStatusMessage}}</span></td>
							<td>{{site.avgResponseTime}} ms</td>
							</tr>
						
					</tbody>
				</table>
				</div>
			</div>
		</div>	

</div>