<div class="container-fluid padding" ng-controller="DashboardCtrl">
<!-- <div class="row">
				<div class="col-lg-3 col-md-6">
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas> 
                </div>
                <div class="col-lg-3 col-md-6">

                </div>
                <div class="col-lg-3 col-md-6">

                </div>                

				<div class="col-lg-3 col-md-6">

                </div>
                
</div> -->
<div class="row" ng-if="!responseTimesLoaded || !siteLoaded || !uptimesLoaded">
    <div class="col-lg-12">
        <h1 class="text-center text-default">Loading... <span class="glyphicon glyphicon-cog spinning"></span></h1>
    </div>  
</div>
<div class="row" ng-if="siteLoaded">

	<div class="col-md-9">
            <div class="row">
                <div class="col-lg-3" ng-repeat="(site,uptime) in uptimes">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5><i class="fa fa-check"></i> <b>Up Time</b> (last 30 days)</h5>
                            <p title="{{site}}" style="overflow:hidden;text-overflow:ellipsis;">{{site}}</p>
                        </div>
                        <div class="panel-body">
                            <as-percent number="{{uptime.value}}"></as-percent>
                            <canvas id="doughnut" class="chart chart-doughnut"
                              chart-data="uptime.data" chart-labels="uptime.labels" chart-colors="['#8BC34A','#FF5722']" chart-options="pieOptions">
                            </canvas> 
                            
                        </div>
                    </div>
                </div>
            </div>
        <div class="panel panel-default">
            <!-- <div class="panel-heading">
                <h4><i class="fa fa-bar-chart"></i> <b>Response Time</b> (last 24 hours)</h4>
                <p>Shows the average response time for websites monitored</p>
            </div> -->
            <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-colors="['#9C27B0', '#3F51B5', '#2196F3', '#009688', '#795548', '#607D8B', '#4D5360']"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick" >
                </canvas>
            </div>
        </div>
	</div>
    <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-globe fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{sites.length}}</div>
                                    <div>Sites</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/sites">
                            <div class="panel-footer">
                                <span class="pull-left">Manage Sites</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Sites status NOW</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-3 green">
                                    <i class="fa fa-arrow-circle-o-up fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{siteUpCount}}</div>
                                    <div>Sites Up</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 red">
                                    <i class="fa fa-arrow-circle-o-down fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{siteDownCount}}</div>
                                    <div>Sites Down</div>
                                </div>
                            </div>                            
                        </div>
                       
                    </div>

    </div>
</div>
</div>